.CreatureItem {
  list-style: none;
  background: white;
  border: 1px solid darkgray;
  padding: 10px;

  display: grid;
  grid-template-rows: 60px 120px 60px;
  grid-gap: 10px;
  
  height: 300px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.CreatureItem h2 {
  margin: 0px;
}

.CreatureItem img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.CreatureItem p {
  margin: 0;
  font-size: .9rem;
}